name: Release

on:
  pull_request:
    branches-ignore:
      - 'main'
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+rc[0-9]+'

jobs:
  release-to-pypi:
    runs-on: ubuntu-24.04
    environment: release
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v4
    - name: Set up PDM
      uses: pdm-project/setup-pdm@v4
      with:
        cache: true
    - name: Build
      run: pdm build
      env:
        PDM_BUILD_SCM_VERSION: ${{github.ref_name}}
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
    - name: Upload packages as artifacts
      uses: actions/upload-artifact@v4
      with:
        name: chaostoolkit-reporting-packages
        path: dist/chaostoolkit-reporting*

  create-gh-release:
    runs-on: ubuntu-24.04
    steps:
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref }}
          name: Release ${{ github.ref }}
          draft: false
          prerelease: false

  upload-gh-release-assets:
    runs-on: ubuntu-24.04
    needs:
      - create-gh-release
      - release-to-pypi
    steps:
      - name: Download pypi artifacts
        uses: actions/download-artifact@v4
        with:
          name: chaostoolkit-reporting-packages
          path: dist
      - name: Upload wheel & source dist to GH release
        uses: ncipollo/release-action@v1
        with:
          artifact: "dist/*.whl,dist/*.tar.gz"
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
